.about-us-mission-container {
  margin-top: 48px;
  text-align: left;
}

.about-us-mission-container h1 {
  color: var(--fe-blue);
  font-weight: 700;
}

.about-us-mission-wrapper {
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
}

.about-us-mission-wrapper p {
  padding-left: 24px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: calc(1rem + 0.6vw);
  width: 100%;
  text-align: left;
}

/* About Us Partners */
.about-us-partners-container {
  text-align: left;
  margin-top: 48px;
}

.about-us-partners-container h1 {
  color: var(--fe-green);
  font-weight: 700;
}

/* About Us Team Card */

.about-us-partner-container {
  width: 290px;
  margin-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* .about-us-partner-container img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  filter: grayscale(100%);
  transition: transform .4s ease;
}

.about-us-partner-container img:hover {
  filter: none;
  transform: scale(1.5);
} */

.img-hover-zoom {
  width: 290px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  height: auto;
}

.img-hover-zoom img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}

.img-hover-zoom:hover img {
  transform: scale(1.15);
}

.about-us-partner-container h4 {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--fe-blue);
  font-size: 1.4rem;
  text-align: center;
}

.about-us-partner-container h5 {
  color: var(--fe-green);
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 1.1rem;
}

.about-us-partner-container a {
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 0.8rem;
}

/* About Us Bio Box */

.partner-bio {
  position: fixed;
  width: 640px;
  top: var(--partner-bio-top);
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
  box-shadow: 0 3px 20px 0 rgba(0, 67, 89, 0.25);
  border-radius: 10px;
}

.partner-bio-header {
  background-color: var(--fe-blue);
  color: white;
  height: 68px;
  width: 640px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

.partner-bio-header h2 {
  padding-top: 16px;
  padding-left: 16px;
  width: 608px;
}

.partner-bio-body {
  background-color: #dbebe2;
  height: auto;
  margin-bottom: 0;
}

.partner-bio-body p {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 8px;
  padding-bottom: 8px;
  line-height: 1.7rem;
  margin-bottom: 0;
}

.partner-bio-footer {
  height: auto;
  background-color: #dbebe2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: right;
  padding-bottom: 16px;
  margin-top: -2px;
}

.partner-bio-footer a {
  text-decoration: none;
  margin-right: 16px;
  color: var(--fe-blue);
  transition-duration: 0.4s;
}

.partner-bio-footer a:hover {
  color: var(--linkedin-blue);
}

.partner-bio-close {
  color: white;
  float: right;
  font-size: 32px;
  font-weight: bold;
  width: 32px;
  padding-top: 12px;
  transition-duration: 0.4s;
}

.partner-bio-close:hover,
.partner-bio-close:focus {
  color: var(--fe-green);
  text-decoration: none;
  cursor: pointer;
}

/* About Us Bio Modal */

.partner-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  visibility: hidden;
}

/* MEDIA */

@media only screen and (max-width: 991px) {
  .about-us-mission-container p {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .about-us-mission-responsiveness {
    padding-left: 15px;
  }

  .about-us-mission-container img {
    display: none;
  }

  .about-us-mission-container p {
    padding-left: 4px;
    font-size: 3.5vw;
  }

  .about-us-partner-container {
    width: 430px;
  }

  .partner-bio {
    width: 400px;
  }

  .partner-bio-header {
    width: 400px;
  }

  .partner-bio-header h2 {
    width: 368px;
    padding-top: 20px;
  }
}
