#footerDesktop {
  margin-top: 50px;
}

.footer-wrapper {
  color: #ffffff;
  background-color: #1b3138;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 0px;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer-wrapper h5 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}

.footer-wrapper p {
  margin-bottom: 24px;
  transition-duration: 0.4s;
}

.footer-wrapper a {
  text-decoration: none;
  transition-duration: 0.4s;
  color: #ffffff;
  font-weight: 300;
  padding: 0 0 2px 0;
}

.footer-wrapper a:hover {
  color: #3e9a68;
}

.footer-image {
  height: 200px;

  background: -webkit-radial-gradient(
      circle at top left,
      rgba(64, 102, 106, 0.8),
      rgba(27, 49, 56, 0.8)
    ),
    url(../images/footer_banner.png) center fixed;
  background: radial-gradient(
      circle at top left,
      rgba(64, 102, 106, 0.8),
      rgba(27, 49, 56, 0.8)
    ),
    url(../images/footer_banner.png) center fixed;
  background-size: cover;
}

.footer-bcorp-logo {
  max-width: 100%;
  height: auto;
}

.footer-bcorp-logo h5 {
  margin-left: 18px;
}

.footer-bcorp-logo a:hover {
  opacity: 50%;
}

.footer-fe-symbol {
  display: grid;
  place-items: center;
  height: auto;
}

.footer-fe-symbol-text {
  text-align: center;
  width: 90%;
}

.footer-fe-symbol p {
  font-size: 1rem;
  color: #ffffff;
}

.footer-fe-symbol a:hover {
  opacity: 50%;
}

/* MEDIA */

@media only screen and (max-width: 991px) {
  #footerDesktop {
    display: none;
  }

  #footerMobile {
    display: visible;
  }

  .footer-bcorp-logo {
    margin-top: 25px;
  }

  .footer-fe-symbol {
    margin-top: 25px;
  }

  .footer-wrapper {
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 992px) {
  #footerDesktop {
    display: visible;
  }

  #footerMobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .footer-fe-symbol p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .footer-fe-symbol p {
    font-size: 1rem;
  }
}
