/* Main Banner Caption Statement */

.main-banner-caption {
  width: 95%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 16px;
}

.main-banner-caption h2 {
  line-height: 2.8rem;
  text-align: center;
}

.main-banner-caption span {
  color: var(--fe-green);
  font-weight: 700;
}

/* Strengths */

.strengths-container {
  padding: 12px 12px;
}

.strengths-container h4 {
  color: var(--fe-blue);
  font-weight: 700;
}

.strengths-container p {
  margin-left: 2px;
  margin-bottom: 0;
}

.strength-wrapper {
  width: 91%;
  margin-left: auto;
  margin-right: auto;
}

.strength-image-wrapper {
  width: 100%;
  height: 360px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.strength-image-wrapper img {
  max-width: 100%;
  height: auto;
}

/* Infographic Customs */

#slideList {
  margin: 0;
  padding: 0;
}

.infographic-wrapper {
  width: 100%;
  height: 640px;
  margin-top: 48px;
  background-color: #dbebe2;
}

.infographic-text-panel {
  vertical-align: top;
  margin-top: 40px;
  margin-left: 60px;
}

.infographic-text-panel h1 {
  font-weight: 600;
  font-size: 4rem;
  color: var(--fe-green);
}

.infographic-list-wrapper {
  padding-left: 27px;
  font-size: 1.3rem;
  color: var(--fe-blue);
}

.infographic-list-wrapper li {
  position: relative;
  margin-top: 40px;
  margin-bottom: 0;
  transition-duration: 0.4s;
  list-style-type: none;
}

.infographic-list-wrapper li:first-child {
  margin-top: 24px;
}

.infographic-list-wrapper span {
  padding-right: 16px;
  max-width: 40px;
}

.infographic-list-wrapper li:hover {
  color: var(--fe-green-highlight);
  cursor: default;
}

.infographic-carousel-image {
  margin: 60px auto;
  position: relative;
  width: 587px;
}

.infographic-carousel-image img {
  box-shadow: 10px -10px #b3cfc0 !important;
  max-width: 98%;
}

.infographic-carousel-image-caption {
  position: absolute;
  background-color: white;
  box-shadow: 0 5px 30px 0 rgba(0, 67, 89, 0.25);
  padding: 20px;
  bottom: -55px;
  left: 60px;
  width: 500px;
  height: 160px;
  z-index: 1;
}

.infographic-carousel-image-caption h3 {
  font-weight: 300;
  color: var(--fe-green-highlight);
}

.infographic-carousel-wrapper {
  position: relative;
}

/* Infographic Mobile */
@keyframes slideDownHeight {
  from {
    height: 0;
  }

  to {
    height: var(--info-mobile-height);
  }
}

@keyframes slideDownOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUpHeight {
  from {
    height: var(--info-mobile-height);
  }

  to {
    height: 0;
  }
}

@keyframes slideUpOpacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-down {
  animation: slideDownHeight 0.4s forwards, slideDownOpacity 0.2s 0.1s forwards;
}

.animate-up {
  animation: slideUpOpacity 0.2s forwards, slideUpHeight 0.4s forwards;
}

.infographic-mobile-wrapper {
  width: 100%;
  height: var(--info-mobile-height);
  margin-top: 60px;
  background-color: #dbebe2;
  transition-duration: 0.4s;
}

.infographic-card-mobile {
  color: var(--fe-black);
  padding-top: 5px;
  padding-right: 15px;
  font-size: 0.9rem;
  height: 0;
  opacity: 0;
}

.infographic-card-caption-mobile {
  width: 95%;
  text-align: center;
  margin-top: 8px;
}

.infographic-text-panel-mobile {
  vertical-align: top;
  margin-top: 30px;
  margin-left: 20px;
}

.infographic-text-panel-mobile h1 {
  font-weight: 600;
  font-size: 2.8rem;
  color: var(--fe-green);
  margin-left: 0;
}

.infographic-text-panel-mobile p {
  margin: 0;
}

.infographic-list-wrapper-mobile {
  padding-left: 16px;
  padding-bottom: 20px;
  font-size: 1.3rem;
  color: var(--fe-blue);
}

.infographic-list-wrapper-mobile li {
  position: relative;
  margin-top: 30px;
  margin-bottom: 0;
  transition-duration: 0.4s;
  list-style-type: none;
}

.infographic-list-wrapper-mobile li:first-child {
  margin-top: 24px;
}

.infographic-list-wrapper-mobile span {
  padding-right: 16px;
}

.infographic-list-wrapper-mobile li:hover {
  color: var(--fe-green-highlight);
  cursor: default;
}

/* Investor */

.investor-wrapper {
  text-align: center;
  font-size: 1rem;
  width: 95%;
  margin: 150px auto 200px;
  color: grey;
}

.investor-wrapper p {
  margin-top: 16px;
  line-height: 1.4rem;
}

.investor-image {
  width: 30%;
}

/* MEDIA */

@media only screen and (max-width: 1399px) {
  .infographic-carousel-image img {
    max-width: 95%;
  }

  .infographic-text-panel h1 {
    font-size: 3.5rem;
  }

  .infographic-list-wrapper {
    padding-left: 22px;
  }

  .infographic-carousel-image-caption {
    left: 30px;
  }
}

@media only screen and (max-width: 1199px) {
  .infographic-text-panel {
    margin-left: 30px;
  }

  .infographic-text-panel h1 {
    font-size: 2.2rem;
  }

  .infographic-list-wrapper {
    padding-left: 12px;
    font-size: 1.1rem;
  }

  .infographic-list-wrapper li:first-child {
    margin-top: 40px;
  }

  .infographic-list-wrapper li::marker {
    font-size: 2rem;
  }

  .infographic-list-wrapper li:before {
    left: -25px;
    top: 30px;
    height: 60px;
  }

  .infographic-list-wrapper li:nth-child(5):before {
    height: 84px;
  }
}

@media only screen and (max-width: 991px) {
  #strengthsDesktop {
    display: none;
  }

  #strengthsMobile {
    display: visible;
  }

  #infographicDesktop {
    display: none;
  }

  #infographicMobile {
    display: visible;
  }

  #contactMobileButton {
    display: visible;
  }

  /* .main-banner-caption {
    margin-top: 180px;
  } */

  .investor-wrapper {
    margin: 100px auto 100px auto;
  }
}

@media only screen and (min-width: 992px) {
  #strengthsDesktop {
    display: visible;
  }

  #strengthsMobile {
    display: none;
  }

  #infographicDesktop {
    display: visible;
  }

  #infographicMobile {
    display: none;
  }

  #contactMobileButton {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .bcorpLinkMobile {
    display: none;
  }

  .main-banner-caption h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .investor-image {
    width: 50%;
  }

  :root {
    --info-mobile-slide-size: 500;
  }
}

@media only screen and (min-width: 768px) {
  .bcorpLinkMobile {
    display: visible;
  }
}

@media only screen and (max-width: 515px) {
  .investor-wrapper {
    font-size: 2.8vw;
  }

  :root {
    --info-mobile-slide-size: 400;
  }
}

@media only screen and (max-width: 480px) {
  .infographic-text-panel-mobile h1 {
    font-size: 10vw;
  }

  .infographic-list-wrapper-mobile {
    font-size: 5vw;
  }

  .infographic-text-panel-mobile p {
    font-size: 3.7vw;
  }

  .main-banner-caption h2 {
    font-size: 4.1vw;
    line-height: 1.7rem;
  }

  .strength-wrapper p {
    font-size: 3.8vw;
  }

  :root {
    --info-mobile-slide-size: 336;
  }
}

