.navbar {
  border-bottom: 4px solid var(--fe-dark-highlight);
  background-color: var(--fe-white) !important;
  padding: 0;
}

.navbar span {
  transition-duration: 0.4s;
}

.nav-link {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  color: var(--fe-blue);
}

.navbar-nav a {
  padding: 0 0 2px 0 !important;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--fe-green-highlight) !important;
}

.nav-link-active {
  color: var(--fe-green-highlight) !important;
}

.nav-link-active::after {
  transform: scale(1);
}

.nav-link-pad {
  padding: 16px 0 16px;
}

.nav-link-margin {
  margin-right: 64px;
}

.navbar-toggler {
  border: none !important;
  color: var(--nav-toggle-color);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}