.job-openings-container {
  padding: 48px 0 0;
}

.job-openings-text {
  margin-left: 12px;
}

.job-openings-text h1 {
  font-weight: 700;
  color: var(--fe-blue);
}

.job-openings-text a {
  text-decoration: none;
}

.job-openings-text p {
  line-height: 1.8rem;
  font-size: calc(1.1rem + 0.1vw);
  width: 75%;
  margin: 40px auto 0 124px;
}

.job-openings-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.job-openings-button {
  width: 400px;
  text-align: center;
  background-color: var(--fe-blue);
  border-radius: 4px;
  transition-duration: 0.4s;
  padding: 16px 0;
}

.job-openings-button a {
  color: var(--fe-white);
  font-size: calc(1.7rem + 0.1vw);
  font-weight: 600;
}

.job-openings-button:hover {
  background: var(--fe-green);
}

.job-openings-button h4 {
  padding-top: 8px;
}

.careers-values-wrapper {
  padding-left: 12px;
  margin-bottom: 100px;
}

.careers-values-header {
  margin-top: 48px;
}

.careers-values-header h1 {
  font-weight: 700;
  color: var(--fe-green);
  margin: 0;
}

.careers-value {
  display: inline-flex;
  margin-top: 48px;
}

.careers-value h4 {
  color: var(--fe-green);
  font-weight: 600;
}

.careers-value p {
  color: var(--fe-blue);
  font-weight: 500;
}

.careers-value-text {
  padding-left: 24px;
  margin-top: 16px;
}

@media only screen and (max-width: 991px) {
  .job-openings-text p {
    width: 90%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .careers-value {
    display: inline;
  }

  .careers-value-text {
    padding-left: 0;
    margin-bottom: 32px;
  }

  .job-openings-button {
    width: 300px;
  }
  .job-openings-button a {
    font-size: calc(1.4rem + 0.1vw);
  }
}
