.contact-page-wrapper {
    margin-bottom: 200px;
  }
  
  /* Contact Information */
  
  .contact-page-info-outer-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-page-info-inner-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  
  .contact-page-card {
    margin-top: 40px;
  }
  
  .contact-page-card h4 {
    color: var(--fe-blue);
    font-weight: 700;
  }
  
  .contact-page-card p {
    margin-left: 2px;
  }
  
  .contact-page-info-link {
    text-decoration: none;
    color: var(--fe-black);
  }
  
  .contact-page-info-link:hover {
    color: var(--fe-black);
  }
  
  /* Contact Form */
  
  .contact-page-form-background {
    width: 85%;
    height: 700px;
    background-color: #dbebe2;
    margin-top: 60px;
    position: relative;
  }
  
  .contact-page-form-foreground {
    position: absolute;
    height: 600px;
    width: 110%;
    background-color: var(--fe-white);
    box-shadow: 0 5px 30px 0 rgba(0, 67, 89, 0.25);
    top: 50px;
    left: -110px;
  }
  
  .contact-page-form-wrapper {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-page-form-wrapper label {
    color: var(--fe-dark-highlight);
    font-weight: 500;
  }
  
  .contact-mobile-wrapper {
    display: grid;
    place-items: center;
    margin-top: 100px;
  }
  
  .contact-mobile-button {
    padding: 5px 20px;
    background-color: var(--fe-blue);
    color: var(--fe-white);
    border-style: none;
    transition-duration: 0.4s;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    text-decoration-line: none;
    z-index: 2;
  }
  
  .contact-mobile-button:hover {
    background-color: var(--fe-green-highlight);
    color: var(--fe-white);
  }
  
  .contact-page-button {
    padding: 5px 20px;
    background-color: var(--fe-blue);
    color: var(--fe-white);
    border-style: none;
    transition-duration: 0.4s;
    border-radius: 4px;
  }
  
  .contact-page-return-btn {
    text-decoration: none;
    color: var(--fe-white);
    font-weight: 500;
  }
  
  .contact-page-return-btn:hover {
    color: var(--fe-white);
  }
  
  .contact-page-button:hover {
    background-color: var(--fe-green-highlight);
  }
  
  .contact-page-message-sent {
    display: grid;
    place-items: center;
    margin-top: 200px;
  }
  
  .contact-page-custom-icon {
    color: var(--fe-green-highlight);
    margin-bottom: 16px;
  }

  /* MEDIA */

  @media only screen and (max-width: 1399px) {
    .contact-page-form-foreground {
      left: -95px;
    }
  }

  /* @media only screen and (max-width: 1199px) {
    .contact-page-row-wrapper {
      margin-top: 180px;
    }
  } */

  @media only screen and (max-width: 991px) {
    #contactInformation {
      display: none;
    }
  
    .contact-page-form-background {
      position: static;
      width: 100%;
      height: 625px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  
    .contact-page-form-foreground {
      position: static;
      width: 95%;
      margin: 12px auto;
      display: inline-block;
      text-align: left;
    }
  }

  @media only screen and (max-width: 767px) {
    .contact-page-form-wrapper {
      width: 90%;
    }
  }