:root {
  --info-mobile-height: 500px;
  --info-mobile-slide-size: 336;
  --nav-toggle-color: #004359;
  --banner-gs: #40666a;
  --banner-ge: #1b3138;
  --banner-text-color: #ffffff;
  --nav-landowners-color: #0b8040;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

body h1,
h2,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

hr {
  border-top: 6px solid #1b3138;
  opacity: 80%;
  border-radius: 50%;
}

.content-container {
  min-height: calc(100vh - 616px);
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* Navbar Customs */

.navbar {
  border-bottom: 4px solid #1b3138;
  background-color: #ffffff !important;
  padding: 0;
}

.navbar span {
  transition-duration: 0.4s;
}

.nav-link {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  color: #004359;
}

.navbar-nav a {
  padding: 0 0 2px 0 !important;
}

.nav-link-fade {
  transition-duration: 0.4s;
}
.nav-link-fade:hover {
  opacity: 50%;
}

.nav-link-line {
  display: inline-block;
  position: relative;
}

.nav-link-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0b8040;
  opacity: 1;
  transition: opacity 0.4s, transform 0.4s;
  transform: scale(0);
  transform-origin: center;
}

.nav-link-line:hover::after,
.nav-link-line:focus::after {
  transform: scale(1);
}

.nav-link:hover,
.nav-link:focus {
  color: #3e9a68 !important;
}

.nav-link-active {
  color: #3e9a68 !important;
}

.nav-link-active::after {
  transform: scale(1);
}

.nav-link-pad {
  padding: 16px 0 16px;
}

.nav-link-margin {
  margin-right: 66px;
}

.navbar-toggler {
  border: none !important;
  color: var(--nav-toggle-color);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-link-landowners {
  margin-right: 66px;
  padding: 12px 33px;
  background-color: var(--nav-landowners-color);
  border: 4px solid #0b8040;
  transition-duration: 0.4s;
}

.nav-link-landowners a {
  color: #ffffff;
}

.dropdown-menu a {
  padding-left: 8px !important;
}

/* Banner Customs */

.banner-wrapper {
  width: 100%;
  height: 400px;
}

.banner-text {
  color: var(--banner-text-color);
  height: 400px;
  background: radial-gradient(
    circle at top left,
    var(--banner-gs),
    var(--banner-ge)
  );
}

.banner-text h1 {
  margin: 90px 30px 20px;
  font-size: 2.5rem;
  font-weight: 700;
}

.banner-text p {
  margin-left: 32px;
  margin-right: 66px;
  font-size: 1.2rem;
  font-weight: 300;
}

.banner-image-wrapper {
  max-width: 100%;
  display: inline-block;
}

.banner-image-wrapper img {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 400px;
}

.banner-wrapper-mobile {
  color: var(--banner-text-color);
  height: 180px;
  max-width: 648px;
  background: radial-gradient(
    circle at top left,
    var(--banner-gs),
    var(--banner-ge)
  );
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

.banner-wrapper-mobile h1 {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 600;
}

.banner-wrapper-mobile p {
  margin-left: 21px;
  margin-right: 33px;
  font-size: 18px;
  font-weight: 300;
}

.banner-image-wrapper-mobile {
  max-width: 100%;
  display: block;
}

.banner-image-wrapper-mobile img {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 400px;
}

/* Mission Statement */

.mission-statement-wrapper {
  width: 95%;
  margin: auto;
}

.mission-statement-wrapper h2 {
  line-height: 2.8rem;
  text-align: center;
}

.mission-statement-wrapper span {
  color: #0b8040;
  font-weight: 700;
}

/* Strengths Customs */

.strengths-container {
  padding: 12px 12px;
}

.strengths-container h4 {
  color: #004359;
  font-weight: 700;
}

.strengths-container p {
  margin-left: 2px;
  margin-bottom: 0;
}

.strength-wrapper {
  width: 91%;
  margin-left: auto;
  margin-right: auto;
}

.strength-image-wrapper {
  width: 100%;
  height: 360px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.strength-image-wrapper img {
  max-width: 100%;
  height: auto;
}

/* Infographic Customs */

#slideList {
  margin: 0;
  padding: 0;
}

.infographic-wrapper {
  width: 100%;
  height: 640px;
  margin-top: 48px;
  background-color: #dbebe2;
}

.infographic-text-panel {
  vertical-align: top;
  margin-top: 40px;
  margin-left: 60px;
}

.infographic-text-panel h1 {
  font-weight: 600;
  font-size: 4rem;
  color: #0b8040;
}

.infographic-list-wrapper {
  padding-left: 27px;
  font-size: 1.3rem;
  color: #004359;
}

.infographic-list-wrapper li {
  position: relative;
  margin-top: 40px;
  margin-bottom: 0;
  transition-duration: 0.4s;
  list-style-type: none;
}

.infographic-list-wrapper li:first-child {
  margin-top: 24px;
}

.infographic-list-wrapper span {
  padding-right: 16px;
  max-width: 40px;
}

.infographic-list-wrapper li:hover {
  color: #3e9a68;
  cursor: default;
}

.infographic-carousel-image {
  margin: 60px auto;
  position: relative;
  width: 587px;
}

.infographic-carousel-image img {
  box-shadow: 10px -10px #b3cfc0 !important;
  max-width: 98%;
}

.infographic-carousel-image-caption {
  position: absolute;
  background-color: white;
  box-shadow: 0 5px 30px 0 rgba(0, 67, 89, 0.25);
  padding: 20px;
  bottom: -55px;
  left: 60px;
  width: 500px;
  height: 160px;
  z-index: 1;
}

.infographic-carousel-image-caption h3 {
  font-weight: 300;
  color: #3e9a68;
}

.infographic-carousel-wrapper {
  position: relative;
}

/* Infographic Mobile */
@keyframes slideDownHeight {
  from {
    height: 0;
  }

  to {
    height: var(--info-mobile-height);
  }
}

@keyframes slideDownOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUpHeight {
  from {
    height: var(--info-mobile-height);
  }

  to {
    height: 0;
  }
}

@keyframes slideUpOpacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-down {
  animation: slideDownHeight 0.4s forwards, slideDownOpacity 0.2s 0.1s forwards;
}

.animate-up {
  animation: slideUpOpacity 0.2s forwards, slideUpHeight 0.4s forwards;
}

.infographic-mobile-wrapper {
  width: 100%;
  height: var(--info-mobile-height);
  margin-top: 60px;
  background-color: #dbebe2;
  transition-duration: 0.4s;
}

.infographic-card-mobile {
  color: #000000;
  padding-top: 5px;
  padding-right: 15px;
  font-size: 0.9rem;
  height: 0;
  opacity: 0;
}

.infographic-card-caption-mobile {
  width: 95%;
  text-align: center;
  margin-top: 8px;
}

.infographic-text-panel-mobile {
  vertical-align: top;
  margin-top: 30px;
  margin-left: 20px;
}

.infographic-text-panel-mobile h1 {
  font-weight: 600;
  font-size: 2.8rem;
  color: #0b8040;
  margin-left: 0;
}

.infographic-text-panel-mobile p {
  margin: 0;
}

.infographic-list-wrapper-mobile {
  padding-left: 16px;
  padding-bottom: 20px;
  font-size: 1.3rem;
  color: #004359;
}

.infographic-list-wrapper-mobile li {
  position: relative;
  margin-top: 30px;
  margin-bottom: 0;
  transition-duration: 0.4s;
  list-style-type: none;
}

.infographic-list-wrapper-mobile li:first-child {
  margin-top: 24px;
}

.infographic-list-wrapper-mobile span {
  padding-right: 16px;
}

.infographic-list-wrapper-mobile li:hover {
  color: #3e9a68;
  cursor: default;
}

/* Footer Customs */

#footerDesktop {
  margin-top: 50px;
}

.footer-wrapper {
  color: #ffffff;
  background-color: #1b3138;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 0px;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer-wrapper h5 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}

.footer-wrapper p {
  margin-bottom: 24px;
  transition-duration: 0.4s;
}

.footer-wrapper a {
  text-decoration: none;
  transition-duration: 0.4s;
  color: #ffffff;
  font-weight: 300;
  padding: 0 0 2px 0;
}

.footer-wrapper a:hover {
  color: #3e9a68;
}

.footer-image {
  height: 200px;

  background: -webkit-radial-gradient(
      circle at top left,
      rgba(64, 102, 106, 0.8),
      rgba(27, 49, 56, 0.8)
    ),
    url(./images/footer_banner.png) center fixed;
  background: radial-gradient(
      circle at top left,
      rgba(64, 102, 106, 0.8),
      rgba(27, 49, 56, 0.8)
    ),
    url(./images/footer_banner.png) center fixed;
  background-size: cover;
}

.footer-bcorp-logo {
  max-width: 100%;
  height: auto;
}

.footer-bcorp-logo h5 {
  margin-left: 18px;
}

.footer-bcorp-logo a:hover {
  opacity: 50%;
}

.footer-fe-symbol {
  display: grid;
  place-items: center;
  height: auto;
}

.footer-fe-symbol-text {
  text-align: center;
  width: 90%;
}

.footer-fe-symbol p {
  font-size: 1rem;
  color: #ffffff;
}

.footer-fe-symbol a:hover {
  opacity: 50%;
}

.footer-investor-wrapper {
  text-align: center;
  font-size: 1rem;
  width: 95%;
  margin: 150px auto 200px;
  color: grey;
}

.footer-investor-wrapper p {
  margin-top: 16px;
  line-height: 1.4rem;
}

.footer-investor-image {
  width: 30%;
}

/****************** CONTACT PAGE *****************/

.contact-page-wrapper {
  margin-bottom: 200px;
}

/* Contact Information */

.contact-page-info-outer-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.contact-page-info-inner-wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.contact-page-card {
  margin-top: 40px;
}

.contact-page-card h4 {
  color: #1b3138;
  font-weight: 700;
}

.contact-page-card p {
  margin-left: 2px;
}

.contact-page-info-link {
  text-decoration: none;
  color: #000000;
}

.contact-page-info-link:hover {
  color: #000000;
}

/* Contact Form */

.contact-page-form-background {
  width: 85%;
  height: 700px;
  background-color: #dbebe2;
  margin-top: 60px;
  position: relative;
}

.contact-page-form-foreground {
  position: absolute;
  height: 600px;
  width: 110%;
  background-color: #ffffff;
  box-shadow: 0 5px 30px 0 rgba(0, 67, 89, 0.25);
  top: 50px;
  left: -110px;
}

.contact-page-form-wrapper {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-page-form-wrapper label {
  color: #1b3138;
  font-weight: 500;
}

.contact-mobile-wrapper {
  display: grid;
  place-items: center;
  margin-top: 100px;
}

.contact-mobile-button {
  padding: 5px 20px;
  background-color: #004359;
  color: #ffffff;
  border-style: none;
  transition-duration: 0.4s;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  text-decoration-line: none;
  z-index: 2;
}

.contact-mobile-button:hover {
  background-color: #3e9a68;
  color: #ffffff;
}

.contact-page-button {
  padding: 5px 20px;
  background-color: #004359;
  color: #ffffff;
  border-style: none;
  transition-duration: 0.4s;
  border-radius: 4px;
}

.contact-page-return-btn {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.contact-page-return-btn:hover {
  color: #ffffff;
}

.contact-page-button:hover {
  background-color: #3e9a68;
}

.contact-page-message-sent {
  display: grid;
  place-items: center;
  margin-top: 200px;
}

.contact-page-custom-icon {
  color: #3e9a68;
  margin-bottom: 16px;
}

/****************** LANDOWNERS PAGE *****************/

/* Landowners Information */

.landowners-information-image-wrapper {
  width: 100%;
}

.landowners-information-image-wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: right;
}

.landowners-information-bullets-wrapper {
  width: 100%;
  margin: 48px 0 0 auto;
}

.landowners-information-heading-wrapper {
  margin: 0 auto;
  padding-bottom: 32px;
  text-align: left;
  background-color: #dbebe2;
}

.landowners-information-heading-wrapper h1 {
  font-size: calc(2rem + 1vw);
  font-weight: 600;
  color: #004359;
  text-align: center;
}

.landowners-information-heading-wrapper span {
  color: #0b8040;
}

.landowners-information-body-wrapper {
  background: radial-gradient(
    circle at bottom right,
    var(--banner-gs),
    var(--banner-ge)
  );
}

.landowners-information-banner-wrapper {
  width: 100%;
  background-color: #dbebe2;
}

.landowners-information-banner-wrapper img {
  max-width: 100%;
  height: auto;
}

.landowners-contact-link-wrapper {
  text-align: center;
  margin-bottom: 100px;
  background-color: #dbebe2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.landowners-contact-link-wrapper p {
  margin-left: auto;
  margin-right: auto;
  font-size: calc(0.8rem + 0.5vw);
  width: 75%;
}

.landowners-contact-link {
  text-decoration: none;
  color: #0b8040;
  font-size: 3rem;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;
  transition-duration: 0.4s;
}

.landowners-contact-link:hover {
  color: #3e9a68;
  border: 1px solid #3e9a68;
}

/* Landowners Bullet Card */

.landowners-bullet-card {
  height: auto;
  margin: 0 auto 24px;
  display: grid;
  align-items: center;
  width: 100%;
}

.landowners-bullet-card li {
  margin: 0 16px;
  color: #ffffff;
  font-size: calc(1rem + 0.4vw);
  line-height: 1.7rem;
  padding-left: 1rem;
}

.landowners-bullet-card li::marker {
  color: #ffffff;
  content: "\f138";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

/* Landowners Steps */

.landowners-steps-wrapper {
  width: 100%;
  height: 144px;
  /* background-color: #FFFFFF; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.landowners-steps-wrapper h2 {
  text-align: center;
  font-weight: 700;
  color: #0b8040;
  font-size: calc(1.2rem + 1.5vw);
  margin: 0;
}

.landowners-steps-inner-wrapper {
  width: 90%;
  margin: auto;
  background-color: #ffffff;
}

.step-card-outer-wrapper {
  height: 248px;
  background-color: #f6f6f6;
  margin-bottom: 32px;
  border-radius: 24px;
  box-shadow: 0 2px 10px 0 rgba(0, 67, 89, 0.15);
  transition-duration: 0.4s;
}

.step-card-outer-wrapper:hover {
  background-color: #f0f7e9;
}

.step-card-inner-wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}

.step-card-inner-wrapper h3 {
  font-weight: 700;
  color: #7cc56c;

  letter-spacing: 1px;
  padding-top: 24px;
}

.step-card-inner-wrapper h4 {
  color: #004359;
  font-weight: 600;
}

.step-card-inner-wrapper p {
  line-height: 1.6rem;
  font-size: 1rem;
}

.step-card-image {
  margin-bottom: 40px;
  display: grid;
  place-items: center;
}

/***************** ENERGY STORAGE *************/

.energy-storage-icon-heading {
  padding: 48px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.energy-storage-icon-heading h1 {
  line-height: 3.5rem;
}

.energy-storage-icon-image-container {
  padding: 0;
  width: 100%;
}

.energy-storage-icon-image-container img {
  width: 100%;
  height: auto;
}

.energy-storage-row-header {
  height: 144px;
  background-color: #004359;
  display: flex;
  justify-content: center;
  align-items: center;
}

.energy-storage-row-header h1 {
  color: #ffffff;
  font-weight: 700;
}

.energy-storage-row-footer {
  height: 288px;
  background: radial-gradient(
    circle at bottom right,
    var(--banner-gs),
    var(--banner-ge)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}

.energy-storage-row-footer h3 {
  color: #ffffff;
  text-align: center;
  width: 90%;
  line-height: 2.5rem;
  font-size: calc(1.1rem + 0.5vw);
}

.energy-storage-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.energy-storage-columns p {
  width: 90%;
  line-height: 2rem;
  font-size: calc(1rem + 0.2vw);
}

.energy-storage-columns ul {
  padding-left: 22px;
}

.energy-storage-columns ul li {
  font-size: 1.2rem;
  line-height: 2.5rem;
  padding-left: 0.5rem;
}

.energy-storage-columns ul li::marker {
  content: "\f138";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

/***************** ABOUT US ***************/

.about-us-mission-responsiveness {
  margin-top: 48px;
  padding-left: 24px;
}

.about-us-mission-container {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
}

.about-us-mission-container img {
  padding-left: 32px;
}

.about-us-mission-container p {
  padding-left: 48px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: calc(1rem + 0.6vw);
  width: 70%;
}

/* About Us Team Card */

.about-us-team-container {
  width: 500px;
  text-align: center;
  margin-bottom: 100px;
}

.about-us-team-container img {
  max-width: 60%;
  height: auto;
  border-radius: 100%;
  filter: grayscale(100%);
  transition-duration: 0.4s;
}

.about-us-team-container img:hover {
  filter: none;
}

.about-us-team-container h4 {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 600;
  color: #004359;
}

.about-us-team-container h5 {
  color: #0b8040;
  font-weight: 400;
  margin-bottom: 16px;
}

.about-us-team-container a {
  text-decoration: none;
  transition-duration: 0.4s;
  font-size: 1.1rem;
}

.about-us-team-text {
  text-align: left;
}

.about-us-map-container {
  position: relative;
  height: 1000px;
  text-align: center;
}

.about-us-map-container::before {
  content: "";
  background-image: url("./images/usa2.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 60%;
}

.about-us-map-text p {
  position: relative;
  opacity: 70%;
}

.about-us-map-text p:first-child {
  padding-top: 160px;
}

.about-us-map-text p:last-child {
  width: 60%;
  margin: auto;
}

.about-us-map-text h2 {
  position: relative;
  padding-top: 32px;
  font-weight: 600;
}

.about-us-icon-container {
  position: relative;
  margin-top: 100px;
}

.about-us-icon-text p {
  opacity: 70%;
}

.about-us-icon-text h4 {
  font-weight: 600;
}

.about-us-icon-container-image {
  opacity: 70%;
}

/*************** Careers **********/

.job-openings-container {
  padding: 64px 0 0;
}

.job-openings-text {
  margin-left: 30px;
}

.job-openings-text h1 {
  font-weight: 700;
  color: #004359;
}

.job-openings-text a {
  text-decoration: none;
}

.job-openings-text p {
  line-height: 1.8rem;
  font-size: calc(1rem + 0.1vw);
  width: 70%;
}

.job-openings-button-wrapper {
  display: flex;
  justify-content: right;
  margin-top: 48px;
  margin-right: 120px;
}

.job-openings-button {
  width: 400px;
  text-align: center;
  background-color: #004359;
  border-radius: 4px;
  transition-duration: 0.4s;
  padding: 16px 0;
}

.job-openings-button a {
  color: #ffffff;
  font-size: calc(1.4rem + 0.4vw);
}

.job-openings-button:hover {
  background: #0b8040;
}

.job-openings-button h4 {
  padding-top: 8px;
}

.careers-values-wrapper {
  padding-left: 30px;
  margin-bottom: 100px;
}

.careers-values-header {
  margin-top: 48px;
}

.careers-values-header h1 {
  font-weight: 700;
  color: #0b8040;
}

.careers-value {
  display: inline-flex;
  margin-top: 48px;
}

.careers-value h4 {
  color: #0b8040;
  font-weight: 600;
}

.careers-value p {
  color: #004359;
  font-weight: 500;
}

.careers-value-text {
  padding-left: 24px;
  margin-top: 16px;
}

/* MEDIA */

@media only screen and (max-width: 1399px) {
  .infographic-carousel-image img {
    max-width: 95%;
  }

  .infographic-text-panel h1 {
    font-size: 3.5rem;
  }

  .infographic-list-wrapper {
    padding-left: 22px;
  }

  .banner-text h1 {
    font-size: 2.1rem;
  }

  .infographic-carousel-image-caption {
    left: 30px;
  }

  .contact-page-form-foreground {
    left: -95px;
  }

  .landowners-bullet-card li {
    font-size: calc(1rem + 0.1vw);
  }
}

@media only screen and (min-width: 1200px) {
  #energyStorageDesktop {
    display: visible;
  }

  #energyStorageMobile {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  #energyStorageDesktop {
    display: none;
  }

  #energyStorageMobile {
    display: visible;
  }

  .energy-storage-columns img {
    max-width: 100%;
    height: auto;
  }

  .infographic-text-panel {
    margin-left: 30px;
  }

  .infographic-text-panel h1 {
    font-size: 2.2rem;
  }

  .infographic-list-wrapper {
    padding-left: 12px;
    font-size: 1.1rem;
  }

  .infographic-list-wrapper li:first-child {
    margin-top: 40px;
  }

  .infographic-list-wrapper li::marker {
    font-size: 2rem;
  }

  .infographic-list-wrapper li:before {
    left: -25px;
    top: 30px;
    height: 60px;
  }

  .infographic-list-wrapper li:nth-child(5):before {
    height: 84px;
  }

  .contact-page-row-wrapper {
    margin-top: 180px;
  }

  .landowners-bullet-card li {
    font-size: calc(0.9rem);
  }

  .landowners-bullet-card {
    margin-bottom: 8px;
  }

  .landowners-information-bullets-wrapper {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 991px) {
  #bannerDesktop {
    display: none;
  }

  #bannerMobile {
    display: visible;
  }

  #strengthsDesktop {
    display: none;
  }

  #strengthsMobile {
    display: visible;
  }

  #infographicDesktop {
    display: none;
  }

  #infographicMobile {
    display: visible;
  }

  #footerDesktop {
    display: none;
  }

  #footerMobile {
    display: visible;
  }

  #contactMobileButton {
    display: visible;
  }

  #navContactUs {
    display: none;
  }

  .nav-link-pad {
    margin-right: 0 !important;
  }

  .mt-mission-statement {
    margin-top: 180px;
  }

  .about-us-mission-responsiveness {
    margin-top: 228px;
  }

  .footer-bcorp-logo {
    margin-top: 25px;
  }

  .footer-fe-symbol {
    margin-top: 25px;
  }

  .footer-wrapper {
    padding-bottom: 25px;
  }

  .footer-investor-wrapper {
    margin: 100px auto 100px auto;
  }

  /* Contact Page */

  #contactInformation {
    display: none;
  }

  .contact-page-form-background {
    position: static;
    width: 100%;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .contact-page-form-foreground {
    position: static;
    width: 95%;
    margin: 12px auto;
    display: inline-block;
    text-align: left;
  }

  /* Landowner's Page */

  .landowners-steps-h1-wrapper h1 {
    line-height: 2.5rem;
  }

  .landowners-bullet-card {
    width: 100%;
  }

  .landowners-steps-wrapper {
    margin-top: 180px;
  }

  .landowners-bullet-card li {
    font-size: calc(1rem + 0.1vw);
  }

  /* Energy Storage */

  .energy-storage-icon-heading {
    margin-top: 180px;
  }

  .energy-storage-icon-heading h1 {
    line-height: 3rem;
  }

  /*About Us */

  .about-us-mission-container p {
    width: 100%;
  }

  /* Careers */

  .job-openings-container  {
    margin-top: 180px;
  }

  .job-openings-text p {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  #bannerDesktop {
    display: visible;
  }

  #bannerMobile {
    display: none;
  }

  #strengthsDesktop {
    display: visible;
  }

  #strengthsMobile {
    display: none;
  }

  #infographicDesktop {
    display: visible;
  }

  #infographicMobile {
    display: none;
  }

  #footerDesktop {
    display: visible;
  }

  #footerMobile {
    display: none;
  }

  #contactMobileButton {
    display: none;
  }

  #navContactUs {
    display: visible;
  }
}

@media only screen and (max-width: 767px) {
  .bcorpLinkMobile {
    display: none;
  }

  .footer-fe-symbol p {
    font-size: 0.8rem;
  }

  .mission-statement-wrapper h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .footer-investor-image {
    width: 50%;
  }

  /* Contact Page */
  .contact-page-form-wrapper {
    width: 90%;
  }

  :root {
    --info-mobile-slide-size: 500;
  }

  /* Energy Storage */

  .energy-storage-columns {
    height: 300px;
  }

  /* About Us */

  .about-us-mission-responsiveness {
    padding-left: 15px;
  }

  .about-us-mission-container img {
    display: none;
  }

  .about-us-mission-container p {
    padding-left: 4px;
    font-size: 3.5vw;
  }

  .about-us-team-container {
    width: 430px;
  }

  /* Careers */

  .careers-value {
    display: inline;
  }

  .careers-value-text {
    padding-left: 0;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .bcorpLinkMobile {
    display: visible;
  }

  .footer-fe-symbol p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 515px) {
  .banner-wrapper-mobile h1 {
    font-size: 5.5vw;
  }

  .banner-wrapper-mobile p {
    font-size: 3.3vw;
  }

  .footer-investor-wrapper {
    font-size: 2.8vw;
  }

  :root {
    --info-mobile-slide-size: 400;
  }
}

@media only screen and (max-width: 480px) {
  .infographic-text-panel-mobile h1 {
    font-size: 10vw;
  }

  .infographic-list-wrapper-mobile {
    font-size: 5vw;
  }

  .infographic-text-panel-mobile p {
    font-size: 3.7vw;
  }

  .banner-wrapper-mobile h1 {
    padding-top: 30px;
  }

  .mission-statement-wrapper h2 {
    font-size: 4.1vw;
    line-height: 1.7rem;
  }

  .strength-wrapper p {
    font-size: 3.8vw;
  }

  :root {
    --info-mobile-slide-size: 336;
  }
}
