body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

body h1,
h2,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

.content-container {
  min-height: calc(100vh - 614px);
}

/* Navbar Customs */

.navbarCustom {
  box-shadow: 5px 5px 5px lightgrey;
}

.navItemPad {
  padding-right: 48px !important;
}

.customNavItem {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  color: #004359 !important;
}

.customNavItem:hover {
  color: #3e9a68 !important;
  text-shadow: 0.5px 0.5px 2px #3e9a68;
}

#fe-nav-dropdown {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  color: #004359 !important;
}

#fe-nav-dropdown:hover {
  color: #3e9a68 !important;
  text-shadow: 0.5px 0.5px 2px #3e9a68;
}

/* Main Banner Customs */

.mainBannerWrapper {
  width: 100%;
  height: 400px;
}

.bannerText {
  color: #ffffff;
  height: 400px;
  background: radial-gradient(circle at top left, #40666a, #1b3138);
  vertical-align: top;
}

.bannerText h1 {
  text-shadow: #ffffff 1px 0 10px;
  margin-top: 100px;
  margin-left: 42px;
}

.bannerText p {
  margin-left: 42px;
  margin-right: 66px;
  font-size: 1.2rem;
  font-weight: 300;
}

.bannerImage {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.bannerMobile {
  height: 400px;
  width: 100%;
  max-width: 648px;
  vertical-align: top;
  /* background-image: url(./images/fe_storage.png); */
  /* background: #000000; */
  overflow: hidden;
  background: -webkit-radial-gradient(
      circle at top left,
      rgba(64, 102, 106, 0.3),
      rgba(27, 49, 56, 0.3)
    ),
    url(./images/fe_storage.png);
  background: radial-gradient(
      circle at top left,
      rgba(64, 102, 106, 0.45),
      rgba(27, 49, 56, 0.45)
    ),
    url(./images/fe_storage.png); /* The least supported option. */
  z-index: -1;
}

.bannerMobile img {
  object-fit: cover;
  z-index: -1;
}

.bannerMobile h1 {
  color: #ffffff;
  text-shadow: #ffffff 1px 0 10px;
  margin-top: 150px;
  margin-left: 42px;
  z-index: 1;
}

/* Mission Statement */

.msWrapper {
  text-align: left;
}

.msCustom {
  color: #0b8040;
  font-weight: 700;
}

/* Strengths Customs */

.strengthsCustom h4 {
  color: #004359;
  font-weight: 700;
}

/* Infographic Customs */

.infoCustom {
  width: 100%;
  height: 500px;
  margin-top: 112px;
  background-color: #dbebe2;
}

.infoCustom h1 {
  margin-top: 40px;
  margin-left: 30px;
  font-weight: 700;
  color: #0b8040;
}

.infoCustomText {
  vertical-align: top;
}

.infoListWrapper {
  margin-left: 25px;
  font-size: 1.3rem;
  color: #004359;
}

.infoListWrapper li {
  margin-top: 30px;
}

.infoListWrapper li:hover {
  color: #3e9a68;
  cursor: default;
}

.infoCustomImage {
  display: inline-flex;
}

.infoCustomImage img {
  box-shadow: -10px -10px #b3cfc0;
  margin: 40px auto;
}

/* Footer Customs */
.footerCustom {
  color: #ffffff;
  background-color: #1b3138;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 126px;
  position: relative;
  left: 0;
  bottom: 0;
}

.footerCustom h5 {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}

.footerCustom p {
  margin-bottom: 24px;
  font-weight: 300;
}

.footerCustom a {
  color: #ffffff;
  text-decoration: none;
}

.verticalCenterLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.symbolCustom {
  display: grid;
  place-items: center;
  height: auto;
}

.symbolCustom p {
  text-align: center;
  font-size: 1rem;
}

/* MEDIA */

@media only screen and (max-width: 1199px) {
  #mainBannerDesktop {
    display: none;
  }

  #mainBannerMobile {
    display: visible;
  }

  #missionStatementDesktop {
    display: none;
  }

  #missionStatementMobile {
    display: visible;
  }
}

@media only screen and (min-width: 1200px) {
  #mainBannerDesktop {
    display: visible;
  }

  #mainBannerMobile {
    display: none;
  }

  #missionStatementDesktop {
    display: visible;
  }

  #missionStatementMobile {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  #strengthsDesktop {
    display: none;
  }

  #strengthsMobile {
    display: visible;
  }
  
  #infographicDesktop {
    display: none;
  }

  #footerDesktop {
    display: none;
  }

  #footerMobile {
    display: visible;
  }

}

@media only screen and (min-width: 992px) {
  #strengthsDesktop {
    display: visible;
  }

  #strengthsMobile {
    display: none;
  }

  #infographicDesktop {
    display: visible;
  }

  #footerDesktop {
    display: visible;
  }

  #footerMobile {
    display: none;
  }

}

@media only screen and (max-width: 767px) {

  .bannerMobile h1 {
    margin-left: 21px;
  }

  .bcorpLinkMobile {
    display: none;
  }
}