:root {
  --info-mobile-height: 500px;
  --info-mobile-slide-size: 336;
  --nav-toggle-color: #004359;
  --banner-gs: #40666a;
  --banner-ge: #1b3138;
  --banner-text-color: #ffffff;
  --nav-landowners-color: #0b8040;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

body h1,
h2,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

hr {
  border-top: 6px solid #1b3138;
  opacity: 80%;
  border-radius: 50%;
}

.content-container {
  min-height: calc(100vh - 616px);
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* MEDIA */

@media only screen and (max-width: 1399px) {
  .infographic-carousel-image img {
    max-width: 95%;
  }

  .infographic-text-panel h1 {
    font-size: 3.5rem;
  }

  .infographic-list-wrapper {
    padding-left: 22px;
  }

  .banner-text h1 {
    font-size: 2.1rem;
  }

  .infographic-carousel-image-caption {
    left: 30px;
  }

  .contact-page-form-foreground {
    left: -95px;
  }

  .landowners-bullet-card li {
    font-size: calc(1rem + 0.1vw);
  }
}

@media only screen and (min-width: 1200px) {
  #energyStorageDesktop {
    display: visible;
  }

  #energyStorageMobile {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  #energyStorageDesktop {
    display: none;
  }

  #energyStorageMobile {
    display: visible;
  }

  .energy-storage-columns img {
    max-width: 100%;
    height: auto;
  }

  .infographic-text-panel {
    margin-left: 30px;
  }

  .infographic-text-panel h1 {
    font-size: 2.2rem;
  }

  .infographic-list-wrapper {
    padding-left: 12px;
    font-size: 1.1rem;
  }

  .infographic-list-wrapper li:first-child {
    margin-top: 40px;
  }

  .infographic-list-wrapper li::marker {
    font-size: 2rem;
  }

  .infographic-list-wrapper li:before {
    left: -25px;
    top: 30px;
    height: 60px;
  }

  .infographic-list-wrapper li:nth-child(5):before {
    height: 84px;
  }

  .contact-page-row-wrapper {
    margin-top: 180px;
  }

  .landowners-bullet-card li {
    font-size: calc(0.9rem);
  }

  .landowners-bullet-card {
    margin-bottom: 8px;
  }

  .landowners-information-bullets-wrapper {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 991px) {
  #bannerDesktop {
    display: none;
  }

  #bannerMobile {
    display: visible;
  }

  #strengthsDesktop {
    display: none;
  }

  #strengthsMobile {
    display: visible;
  }

  #infographicDesktop {
    display: none;
  }

  #infographicMobile {
    display: visible;
  }

  #footerDesktop {
    display: none;
  }

  #footerMobile {
    display: visible;
  }

  #contactMobileButton {
    display: visible;
  }

  #navContactUs {
    display: none;
  }

  .nav-link-pad {
    margin-right: 0 !important;
  }

  .mt-mission-statement {
    margin-top: 180px;
  }

  .about-us-mission-responsiveness {
    margin-top: 228px;
  }

  .footer-bcorp-logo {
    margin-top: 25px;
  }

  .footer-fe-symbol {
    margin-top: 25px;
  }

  .footer-wrapper {
    padding-bottom: 25px;
  }

  .footer-investor-wrapper {
    margin: 100px auto 100px auto;
  }

  /* Contact Page */

  #contactInformation {
    display: none;
  }

  .contact-page-form-background {
    position: static;
    width: 100%;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .contact-page-form-foreground {
    position: static;
    width: 95%;
    margin: 12px auto;
    display: inline-block;
    text-align: left;
  }

  /* Landowner's Page */

  .landowners-steps-h1-wrapper h1 {
    line-height: 2.5rem;
  }

  .landowners-bullet-card {
    width: 100%;
  }

  .landowners-steps-wrapper {
    margin-top: 180px;
  }

  .landowners-bullet-card li {
    font-size: calc(1rem + 0.1vw);
  }

  /* Energy Storage */

  .energy-storage-icon-heading {
    margin-top: 180px;
  }

  .energy-storage-icon-heading h1 {
    line-height: 3rem;
  }

  /*About Us */

  .about-us-mission-container p {
    width: 100%;
  }

  /* Careers */

  .job-openings-container  {
    margin-top: 180px;
  }

  .job-openings-text p {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  #bannerDesktop {
    display: visible;
  }

  #bannerMobile {
    display: none;
  }

  #strengthsDesktop {
    display: visible;
  }

  #strengthsMobile {
    display: none;
  }

  #infographicDesktop {
    display: visible;
  }

  #infographicMobile {
    display: none;
  }

  #footerDesktop {
    display: visible;
  }

  #footerMobile {
    display: none;
  }

  #contactMobileButton {
    display: none;
  }

  #navContactUs {
    display: visible;
  }
}

@media only screen and (max-width: 767px) {
  .bcorpLinkMobile {
    display: none;
  }

  .footer-fe-symbol p {
    font-size: 0.8rem;
  }

  .mission-statement-wrapper h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .footer-investor-image {
    width: 50%;
  }

  /* Contact Page */
  .contact-page-form-wrapper {
    width: 90%;
  }

  :root {
    --info-mobile-slide-size: 500;
  }

  /* Energy Storage */

  .energy-storage-columns {
    height: 300px;
  }

  /* About Us */

  .about-us-mission-responsiveness {
    padding-left: 15px;
  }

  .about-us-mission-container img {
    display: none;
  }

  .about-us-mission-container p {
    padding-left: 4px;
    font-size: 3.5vw;
  }

  .about-us-team-container {
    width: 430px;
  }

  /* Careers */

  .careers-value {
    display: inline;
  }

  .careers-value-text {
    padding-left: 0;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .bcorpLinkMobile {
    display: visible;
  }

  .footer-fe-symbol p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 515px) {
  .banner-wrapper-mobile h1 {
    font-size: 5.5vw;
  }

  .banner-wrapper-mobile p {
    font-size: 3.3vw;
  }

  .footer-investor-wrapper {
    font-size: 2.8vw;
  }

  :root {
    --info-mobile-slide-size: 400;
  }
}

@media only screen and (max-width: 480px) {
  .infographic-text-panel-mobile h1 {
    font-size: 10vw;
  }

  .infographic-list-wrapper-mobile {
    font-size: 5vw;
  }

  .infographic-text-panel-mobile p {
    font-size: 3.7vw;
  }

  .banner-wrapper-mobile h1 {
    padding-top: 30px;
  }

  .mission-statement-wrapper h2 {
    font-size: 4.1vw;
    line-height: 1.7rem;
  }

  .strength-wrapper p {
    font-size: 3.8vw;
  }

  :root {
    --info-mobile-slide-size: 336;
  }
}
