.banner-column {
  color: white;
  background: radial-gradient(
    circle at top left,
    var(--banner-gs),
    var(--banner-ge)
  );
  position: relative;
}

.banner-text {
  width: 85%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.banner-text p {
  font-weight: 300;
  font-size: 1.2rem;
  width: 90%;
}

.banner-image-wrapper {
  width: 100%;
  height: auto;
}

.banner-image-wrapper img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  height: auto;
}

.banner-wrapper-mobile {
  color: white;
  height: 180px;
  width: 100%;
  background: radial-gradient(
    circle at top left,
    var(--banner-gs),
    var(--banner-ge)
  );

  margin-left: auto;
  margin-right: auto;
}

.banner-wrapper-mobile h1 {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 1.9rem;
}

.banner-wrapper-mobile p {
  margin-left: 20px;
  margin-right: 40px;
  font-weight: 300;
  font-size: 1rem;
}

.banner-image-wrapper-mobile {
  width: 100%;
  display: block;
}

.banner-image-wrapper-mobile img {
  max-width: 100%;
  height: auto;
}

/* MEDIA */

@media only screen and (max-width: 991px) {
  #bannerDesktop {
    display: none;
  }

  #bannerMobile {
    display: visible;
  }
}

@media only screen and (min-width: 992px) {
  #bannerDesktop {
    display: visible;
  }

  #bannerMobile {
    display: none;
  }
}

@media only screen and (max-width: 515px) {
  .banner-wrapper-mobile h1 {
    font-size: 1.6rem;
  }

  .banner-wrapper-mobile p {
    font-size: 3.3vw;
  }
}
