.banner-wrapper {
  width: 100%;
  height: 400px;
}

.banner-text {
  color: var(--banner-text-color);
  height: 400px;
  background: radial-gradient(
    circle at top left,
    var(--banner-gs),
    var(--banner-ge)
  );
}

.banner-text h1 {
  margin: 90px 30px 20px;
  font-size: 2.5rem;
  font-weight: 700;
}

.banner-text p {
  margin-left: 32px;
  margin-right: 66px;
  font-size: 1.2rem;
  font-weight: 300;
}

.banner-image-wrapper {
  max-width: 100%;
  display: inline-block;
}

.banner-image-wrapper img {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 400px;
}

.banner-wrapper-mobile {
  color: var(--banner-text-color);
  height: 180px;
  max-width: 648px;
  background: radial-gradient(
    circle at top left,
    var(--banner-gs),
    var(--banner-ge)
  );
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

.banner-wrapper-mobile h1 {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 600;
}

.banner-wrapper-mobile p {
  margin-left: 21px;
  margin-right: 33px;
  font-size: 18px;
  font-weight: 300;
}

.banner-image-wrapper-mobile {
  max-width: 100%;
  display: block;
}

.banner-image-wrapper-mobile img {
  object-fit: none;
  object-position: center;
  width: 100%;
  height: 400px;
}
